<div class="buttons">
    <button class="btn btn-sm btn-number btn-common" data-number="7">7</button>
    <button class="btn btn-sm btn-number btn-common" data-number="8">8</button>
    <button class="btn btn-sm btn-number btn-common" data-number="9">9</button>
    <button class="btn btn-sm btn-operator">DEL</button>

    <button class="btn btn-sm btn-number btn-common" data-number="4">4</button>
    <button class="btn btn-sm btn-number btn-common" data-number="5">5</button>
    <button class="btn btn-sm btn-number btn-common" data-number="6">6</button>
    <button class="btn btn-sm btn-number btn-common">+</button>

    <button class="btn btn-sm btn-number btn-common" data-number="1">1</button>
    <button class="btn btn-sm btn-number btn-common" data-number="2">2</button>
    <button class="btn btn-sm btn-number btn-common" data-number="3">3</button>
    <button class="btn btn-sm btn-number btn-common">-</button>

    <button class="btn btn-sm btn-number btn-common">.</button>
    <button class="btn btn-sm btn-number btn-common">0</button>
    <button class="btn btn-sm btn-number btn-common">/</button>
    <button class="btn btn-sm btn-number btn-common">x</button>

    <button class="btn btn-lg btn-operator">RESET</button>
    <button class="btn btn-lg btn-equals">=</button>
  </div>